* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

main {
  padding: 5rem 0;
  background-color: #333333;
}

.categories {
  margin: 3rem auto;
  width: 40%;

  display: flex;
  flex-wrap: wrap;
  gap: 0 0;
}

.categories > div {
  flex: 50%;
}

.categories__category {
  width: 100%;
  display: flex;
  align-items: center;
}

.categories__category img {
  width: 13rem;
  height: 13rem;
}


.categories__category--text h3 {
  font-size: 1.6rem;
  color: #fff;
}

.categories__category--text p {
  font-size: 1.3rem;
  color: lightgray;
}
