* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.profile-cards {
  margin-top: 20rem;
  display: flex;
  justify-content: space-around;
  background-color: #ffd6ec;
}

.profile-cards__card {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.profile-cards__card--img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 100rem;
}

.profile-cards__card--info {
  margin-left: 2rem;
}

.profile-cards__card--info__name {
  font-size: 2rem;
}

.profile-cards__card--info__role {
  color: gray;
  font-size: 1.5rem;
}
