* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

form {
  display: flex;
  width: 50%;
  border: 2px solid #F08080; 
}

input {
  flex-direction: none;
  background-color: white;
  border: none;
  outline: 0;
  font-size: 2rem;
}

input[type="email"] {
  padding: 1rem 1rem;
  color: #F08080;
  flex-grow: 2;
}

input[type="email"]::placeholder {
  color: #F08080;
}

input[type="submit"] {
  padding: 1rem 2rem;
  color: white;
  background-color: #F08080;
  flex-grow: 2;
}